<!-- https://github.com/hhff/ember-infinity -->
<header class="md-whiteframe-z5">
	
	<!-- If actual device is a mobile, this will render the toolbar -->
	{{#if media.isMobile }}
		{{#md-toolbar class="md-whiteframe-z5"}}
	      	<div class="md-toolbar-tools">
	      		{{#linkTo 'index'}}
	      			{{#md-button class="md-icon-button"}}
      					{{#md-tooltip}}Home{{/md-tooltip}}
						{{md-icon md-svg-icon="images/icons/home.svg"}}
					{{/md-button}}
	      		{{/linkTo}}
		        {{#md-button class="md-icon-button" action='toggleSidebarLeft'}}
	        		{{#md-tooltip}}Categories{{/md-tooltip}}
					{{md-icon md-svg-icon="images/icons/event_cat.svg"}}
				{{/md-button}}
				
				<h2>Eventodo</h2>
				
				<span flex></span>
				{{#unless session.isAuthenticated}}
					{{#linkTo 'session-register'}}
						{{#md-button}}Register{{/md-button}}
					{{/linkTo}}
					{{#linkTo 'session-login'}}
						{{#md-button}}Login{{/md-button}}
					{{/linkTo}}
				{{else}}
					{{#md-fab-speed-dial md-open=fab_dial.isOpen md-direction=fab_dial.selectedDirection class=fab_dial.selectedMode}}
						{{#md-fab-trigger}}
							{{#md-button class="md-icon-button"}}
								{{#md-tooltip}}NOMBRE USUARIO{{/md-tooltip}}
								{{md-icon md-svg-icon="images/icons/account.svg"}}
							{{/md-button}}
						{{/md-fab-trigger}}
						{{#md-fab-actions}}
							{{#md-button class="md-icon-button" action='invalidateSession'}}
								{{#md-tooltip}}Log Out{{/md-tooltip}}
								{{md-icon md-svg-icon="images/icons/logout.svg"}}
							{{/md-button}}
						{{/md-fab-actions}}
					{{/md-fab-speed-dial}}
				{{/unless}}
				{{#md-button class="md-icon-button" action='toggleSearchBar'}}
					{{#md-tooltip}}
	                    Search
	                {{/md-tooltip}}
					{{md-icon md-svg-icon="images/icons/search.svg"}}
				{{/md-button}}
			</div>
		{{/md-toolbar}}

	<!-- If actual device is not a mobile, this will render the login form and login search input -->
	{{else}}
		<div class="application-search">
			{{md-icon class="application-search-icon" md-svg-icon="images/icons/search.svg"}}
			{{#md-input-container class="application-search-input" flex=''}}
		        <label>Search</label>
		        {{md-input}}
		    {{/md-input-container}}
	    </div>
	    <!-- If there is a session already, this will render the log out button -->
		{{#if session.isAuthenticated}}
	    	{{#md-button action='logout'}}Log Out{{/md-button}}
	    {{else}}
	    	<div class="login-action">
		    	{{#linkTo 'session-register'}}
					{{#md-button classNames="md-raised md-primary"}}Register{{/md-button}}
				{{/linkTo}}
			</div>
	    	{{#login-input}}
			{{/login-input}}
	    {{/if}}
	{{/if}}
</header> 

<div class="application-sidenav-content" layout="row">
	<section layout="row" flex>
		{{#md-sidenav class="application-sidenav md-sidenav-left md-whiteframe-z2"
		isLockedOpen=sidebarLeftLocked
	    sidebarVisible=sidebarLeftVisible }}
		    {{#md-toolbar class="application-toolbar"}}
		        <h1 class="md-toolbar-tools">Categories</h1>
		    {{/md-toolbar}}
		    <md-content class="application-toolbar-content">
		    	<div layout="column" layout-fill layout-align="top center">
			    	{{#each model.categories as |cat|}}
			    		{{#link-to 'category' cat}}
				    		{{#md-button class="application-cat md-raised md-accent"}}
					        	{{cat.title}}
					        {{/md-button}}
				        {{/link-to}}
			    	{{/each}}
		    	</div>
		    </md-content>
		{{/md-sidenav}}
		<md-content class="application-content" flex layout-padding>
			{{outlet}}
		</md-content>
	</section>
</div>

<footer>
	&copy;2015 Objective Four.
</footer>